h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--global-line-height);
  font-family: var(--font-stack);
  font-weight: 600;
}

h1 {
  font-size: var(--global-font-size);
  margin-bottom: 150px;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: var(--global-font-size);
  position: relative;
  margin-bottom: var(--global-line-height);
}

p {
  margin: 0 0 var(--global-line-height);
  color: var(--font-color);
}

a {
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  background-color: var(--primary-color);
  color: var(--invert-font-color);
}

strong {
  font-weight: 700;
}

em {
  font-size: var(--global-font-size);
  font-style: italic;
  font-family: var(--font-stack);
  color: var(--font-color);
}
